page-contact {

}
.contactHead{
    margin-top: 0px !important;
}
.Action{
    margin-top:5px;
    display: inline-flexbox;
    width: 40%;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    height: 35px !important;
    color: #fff;
    margin-bottom: 10px;
}
.delete{
    height: 100%;
    background-color: darkorange !important;
}
.update{
    height: 100%;
    background-color: rgb(236, 54, 9) !important;
}
